body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #d34057;
}
.data-cloak {
  display: none;
}
#fragranz_small {
  display: -webkit-flex;
  -webkit-justify: center;
  -webkit-align-items: center;
  -webkit-direction: column;
}
#fragranz_small > img {
  display: block;
}
.isiOS .button.add,
.isDesktopSafari .button.add {
  border: solid 1px #d34057;
  border-radius: 6px;
  height: 12px;
  max-height: 30px !important;
  width: 30px;
  margin-top: 0;
}
.isiOS .button.add::after,
.isDesktopSafari .button.add::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 28px;
  width: 28px;
   background-color: #d34057;
   -webkit-mask-position: 50% 50%;
   -webkit-mask-size: 90% 90%;
   -webkit-mask-repeat: no-repeat; 
   -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <path d="M36.729,21.049h-4.475h-2.645H28.17c-0.67,0-1.221-0.561-1.221-1.229v-1.623v-1.856v-5.07c0-0.668-0.541-1.21-1.211-1.21 H22.26c-0.668,0-1.21,0.542-1.21,1.21v5.07v2.016v1.464c0,0.668-0.553,1.229-1.222,1.229h-1.688h-2.396h-4.474 c-0.668,0-1.21,0.542-1.21,1.211v3.479c0,0.668,0.542,1.211,1.21,1.211h4.474h2.637h1.447c0.669,0,1.222,0.531,1.222,1.199v1.678 v1.801v5.102c0,0.668,0.542,1.211,1.21,1.211h3.479c0.67,0,1.211-0.543,1.211-1.211v-5.102v-1.84v-1.639 c0-0.668,0.551-1.199,1.221-1.199h1.799h2.285h4.475c0.668,0,1.211-0.543,1.211-1.211V22.26 C37.939,21.591,37.396,21.049,36.729,21.049z"/></svg>');
 }
.isiOS #shoppingCart {
  border: solid 1px #d34057;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  margin-top: 3px !important;
}
.isiOS #shoppingCart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 28px;
  width: 28px;
  background-color: #d34057;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat; 
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="48" height="48" viewBox="0 0 48 48" id="Layer_2" xml:space="preserve"><defs id="defs3149" /> <g id="layer2" style="display:inline"><g transform="translate(-0.08050847,0.40254236)" id="g4059"><path d="M 42.025422,16.038138 38.644067,29.724576 16.423728,29.805086 10.868644,11.529663 4.3474575,10.241527" id="path4061" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="m 15.031648,23.042374 24.762973,0" id="path3152" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="M 27.614406,30.046611 27.211863,16.843221" id="path3156" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="M 21.978813,29.644068 20.04661,16.682204" id="path3158" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="M 33.16949,29.805086 34.940677,16.92373" id="path3160" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="m 19.805084,31.173729 a 4.0254235,4.1059322 0 1 1 -8.050847,0 4.0254235,4.1059322 0 1 1 8.050847,0 z" transform="matrix(0.62105266,0,0,0.60887512,8.6576239,15.811465)" id="path3162" style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><use transform="translate(18.169494,-2.7201237e-8)" id="use3164" x="0" y="0" width="48" height="48" xlink:href="#path3162" /><path d="M 43.071563,16.44115 12.801318,16.52072" id="path4069" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /></g></g></svg>')
}

.isiOS #orderButtons {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.isiOS #orderButtons > .button {
  margin: 10px auto !important;
}
/* Android Styles */
.isAndroid #orderButtons {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 20px;
}
.isAndroid #orderButtons .button {
  padding-top: 7px !important;
}
.isAndroid .button.back {
  margin-right: 30px;
}
.isAndroid .button.back::after {
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: -26px;
  background: transparent url(/images/perfume-bottle.png) no-repeat center center;
  background-size: 80% auto;
}
.isAndroid .button.add {
  top: -3px;
}
.isAndroid.button.add::before,
.isDesktopChrome .button.add::before {
  content: 'Add';
}
.isAndroid #shoppingCart {
  width: 30px;
  margin-bottom: -8px;
}

.isAndroid #shoppingCart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 28px;
  width: 28px;
  background-position: 50% 50%;
  background-size: 90% 90%;
  background-repeat: no-repeat; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="48" height="48" viewBox="0 0 48 48" id="Layer_2" xml:space="preserve"><defs id="defs3149" /> <g id="layer2" style="display:inline"><g transform="translate(-0.08050847,0.40254236)" id="g4059"><path d="M 42.025422,16.038138 38.644067,29.724576 16.423728,29.805086 10.868644,11.529663 4.3474575,10.241527" id="path4061" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="m 15.031648,23.042374 24.762973,0" id="path3152" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="M 27.614406,30.046611 27.211863,16.843221" id="path3156" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="M 21.978813,29.644068 20.04661,16.682204" id="path3158" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="M 33.16949,29.805086 34.940677,16.92373" id="path3160" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><path d="m 19.805084,31.173729 a 4.0254235,4.1059322 0 1 1 -8.050847,0 4.0254235,4.1059322 0 1 1 8.050847,0 z" transform="matrix(0.62105266,0,0,0.60887512,8.6576239,15.811465)" id="path3162" style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /><use transform="translate(18.169494,-2.7201237e-8)" id="use3164" x="0" y="0" width="48" height="48" xlink:href="#path3162" /><path d="M 43.071563,16.44115 12.801318,16.52072" id="path4069" style="fill:none;stroke:#000000;stroke-width:2.25125003;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" /></g></g></svg>')
}
/* Windows Styles */
.isWindows .toolbar .button {
  padding: 0 !important;
}
.isWindows .button.add.align-flush {
  top: 8px !important;
}
.isWindows .button.add::before {
  content: '\E109';
  display: block;
  height: 30px;
  width: 30px;
  color: #fff;
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  font-size: 14pt;
  text-align: left;
  display: block;
  margin: 10px 0 0 5px;
}
.isWindows .button.add:hover::before {
  color: #000;
}
.isWindows #shoppingCart::before {
  content: '\E14D';
  display: block;
  height: 30px;
  width: 30px;
  color: #fff;
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  font-size: 14pt;
  text-align: left;
  display: block;
  margin: 10px 0 0 5px;
}
#confirmationNum {
  text-transform: uppercase;
}
#available_perfumes li aside:first-child {
  width: 80px;
}